<template>
  <div>
    <form v-on:submit.prevent>
      <input id="input" v-model.number="counter" type="number" min="0" max="100" control="none" value="0" />
      <button v-on:click="decrement">-</button>
      <button v-on:click="increment">+</button>
      <input id="submit" type="submit" value="submit" v-on:click="submit" v-if="!isFinished()">
      <input id="submit" type="submit" value="retry" v-on:click="submit" v-else>
    </form>
  </div>
</template>

<script>
export default {
  name: 'GuidApForm',
  props: {
    gameData: {
      type: Array
    }
  },
  methods: {
    addResult: function (result) {
      this.gameData.push(result)
    },
    reinitResult: function (result) {
      while (this.gameData.length > 0) {
        this.gameData.pop()
      }
    },
    isFinished: function () {
      if (this.gameData.length > 0) {
        return this.gameData[this.gameData.length - 1].result === '='
      } else {
        return false
      }
    },
    submit: function () {
      if (this.isFinished()) {
        this.reinitResult()
        this.counter = 0
      } else {
        this.$http.post('', {number: this.counter})
            .then(response => {
              this.addResult(response.body)
            }, response => {
              alert('error')
            })
      }
    },
    increment: function () {
      if (this.counter < 100) {
        this.counter += 1
      }
    },
    decrement: function () {
      if (this.counter > 0) {
        this.counter -= 1
      }
    }
  },
  data () {
    return { counter: 0 }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
