<template>
  <div>
    <GuidApTimeline :gameData="gameData"/>
    <GuidApForm :gameData="gameData"/>
  </div>
</template>

<script>
import GuidApForm from '@/components/GuidApForm'
import GuidApTimeline from '@/components/GuidApTimeline'

export default {
  name: 'GuidAp',
  components: {
    GuidApForm: GuidApForm,
    GuidApTimeline: GuidApTimeline
  },
  data () {
    return {
      gameData: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
