<template>
  <div class="timeline">
    <ul>
      <li v-for="(item, index) in gameData" >
        <span class="tube" v-if="index != 0"></span>
        <div class="circle equal" v-if="item.result == '='"><span>{{ item.value }}</span><span>{{ item.result }}</span></div>
        <div class="circle plus" v-else-if="item.result == '+'"><span>{{ item.value }}</span><span>{{ item.result }}</span></div>
        <div class="circle minus" v-else-if="item.result == '-'"><span>{{ item.value }}</span><span>{{ item.result }}</span></div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'GuidApTimeline',
  props: {
    gameData: {
      type: Array
    }
  },
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.timeline {
    margin: auto;
    width: 100px;
}

.timeline > ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.equal {
    border: solid green 2px; 
    background: radial-gradient(#F9F9F9 5%, green);
    color: green;
}

.plus {
    border: solid red 2px; 
    background: radial-gradient(#F9F9F9 5%, red);
    color: red;
}

.minus {
    border: solid blue 2px; 
    background: radial-gradient(#F9F9F9 5%, blue);
    color: blue;
}

ul > li {
    position: relative;
}

.tube {
    position: relative;
    display: block;
    margin: auto;
    #border: solid #C9C9C9 2px;
    background-color: #F0F0F0;
    background: linear-gradient(
      to right, 
      #C9C9C9,
      #F9F9F9 10%,
      #F9F9F9 90%,
      #F9F9F9 10%,
      #C9C9C9
    );
    width: 20px;
    height: 50px;
    z-index: 1;
}

.circle {
    position: relative;
    #display: inline;
    padding:10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-weight: bold;
    margin: auto;
    margin-top: -10px;
    margin-bottom: -10px;
    z-index: 2;
}

.circle > span {
    display: block;
}
</style>
